<!-- Single Starts Here -->
<div class="row">
  <div class="bg_load" *ngIf="loading">
    <img class="loader_animation" src="assets/img/loader.gif" alt="">
  </div>
</div>
<div class="single-product">
  <div class="row">
    <div class="col-md-6">
      <div class="product-slider">
        <div id="slider" class="flexslider">
          <ul class="slides">
            <li>
              <img src="{{product.productImageURL}}" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="right-content">
        <h4>{{product.name}}</h4>
        <h6>{{product.price | currency:"ZAR":"symbol"}}</h6>
        <p>{{product.desc}}</p>
        <span>{{product.qty}} left on stock</span>
        <form *ngIf="!isAdmin()" #productForm="ngForm" (ngSubmit)="addToCart()">
          <label for="qty">Quantity:</label>
          <input name="quantity" #quantity="ngModel" [(ngModel)]="cartRequest.quantity" type="number"
            class="quantity-text" id="quantity" value="1" pattern="^-?(0|[1-9]\d*)?$">
          <input name="productId" #productId="ngModel" [(ngModel)]="cartRequest.productId" type="hidden"
            class="quantity-text" id="quantity" value="{{product.productId}}">
          <button type="submit" class="btn" [disabled]="!productForm.valid">ADD TO CART <i
              class="fa fa-shopping-cart"></i></button>
        </form>
        <div class="down-content">
          <div class="categories">
            <h6>Category: <span><a *ngFor="let category of product.categories"
                  [routerLink]="['/category/', category.name]">{{category.name}}</a></span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single Page Ends Here -->

<div class="featured-items">
  <div class="row">
      <div class="col-md-12">
          <div class="col-md-12">
              <div class="section-heading">
                  <h1>Popular Products</h1>
                  <div class="line-dec"></div>
              </div>                
          </div>
      </div>
      <div class="col-md-12">
          <div *ngFor="let product of products">
            <a (click)="getPopularProduct(product.productId)">
              <div class="featured-item">
                  <img src="{{product.productImageURL}}" alt="Image">
                  <h4>{{product.name}}</h4>
                  <h6>{{product.price | currency:"ZAR":"symbol"}}</h6>
              </div>
            </a>
          </div>            
      </div>
  </div>
</div>