<div class="row" *ngIf="loading">
    <div class="bg_load" >
        <img class="loader_animation" src="assets/img/loader.gif" alt="">
    </div>
</div>


<div class="row content-row mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white block h-100">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p class="alert alert-danger" *ngIf="failed">Oops! Something went wrong, try again <i class="fa fa-times"></i></p>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="block-title d-inline-block">My Orders <i class="fa fa-shopping-cart"></i></h2>
                </div>
                <div class="col-md-4 col-sm-12 text-right">
                    <a (click)="getOrders()" class="btn btn-small btn-primary">Refresh Orders <i class="fa fa-refresh"></i></a>
                </div>                
            </div>            
            <div class="table-responsive">
                <table class="table table-hover table-striped tm-table-striped-even mt-3">
                    <thead>
                        <tr class="color">
                            <th scope="col">Order Date</th>
                            <th scope="col">Customer:</th>
                            <th scope="col" class="text-center">Order No:</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col">Price</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td class="col-sm-6 col-md-4">
                                <a (click)="viewOrder(order)">{{order.createdAt}}</a>
                            </td>
                            <td class="col-sm-2 col-md-2">
                                {{order.account.lastName}}
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <a (click)="viewOrder(order)">{{order.id}}</a>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <a class="btn">{{order.orderStatus}}</a>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center">
                                <p class="price_table">{{order.total | currency:"ZAR":"symbol"}}</p>
                            </td>
                            <td class="col-sm-1 col-md-1">
                                <a type="button" class="btn" (click)="viewOrder(order)">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div  *ngIf="page.content.length > 0"  class="tm-table-mt tm-table-actions-row">
                    <nav aria-label="Page navigation" class="d-inline-block">
                        <ul class="pagination tm-pagination">
                            <li class="page-item" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''"><a class="page-link" (click)="goToNextOrPreviousPage('backward')" >&laquo;</a></li>
                            <li *ngFor="let pageNumber of [].constructor(page.totalPages); let i = index;" class="page-item" [ngClass]="i == (currentPage$ | async) ? ' active' : ''"><a class="page-link" (click)="getOrders(i)">{{ i+1 }}</a></li>
                            <li class="page-item" [ngClass]="(page.totalPages - 1) == (currentPage$ | async) ? ' disabled' : ''"><a class="page-link" (click)="goToNextOrPreviousPage('forward')" >&raquo;</a></li>
                        </ul>
                    </nav>
                </div>

            </div>           
            
        </div>
    </div>
</div>

