<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-xl">
        <a class="navbar-brand" [routerLink]="['/home']" >         
          <img class="site-logo" src="assets/img/tshepo-siya.png" alt="">
          <h1 class="site-title mb-0">Siya</h1>
        </a>
        <button (click)="collapse.toggle()" class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

        <div #collapse="ngbCollapse" 
        [(ngbCollapse)]="gfg"
        class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item" routerLinkActive="active current">
              <a class="nav-link" [routerLink]="['/home']" ><i class="fa fa-home"></i> Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active current">
              <a class="nav-link" [routerLink]="['/products']" ><i class="fa fa-box"></i> Products</a>              
            </li>                                 
            <li *ngIf="isUser()"  class="nav-item" routerLinkActive="active current">
              <a class="nav-link"  [routerLink]="['/cart']" ><i class="fa fa-shopping-cart"></i> Cart</a>              
            </li>
            <li ngbDropdown class="nav-item dropdown"  *ngIf="isAdmin()"  routerLinkActive="active current">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-computer"></i>
                Admin 
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/product-admin']"><i class="fa fa-box"></i> Products</a>
                <a class="dropdown-item" [routerLink]="['/orders']"><i class="fa fa-shopping-cart"></i> Orders</a>
                <a class="dropdown-item" [routerLink]="['/accounts']"><i class="fa fa-users"></i> Accounts</a>
              </div>
            </li>            
            <li ngbDropdown class="nav-item dropdown" *ngIf="account?.id" routerLinkActive="active current">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cogs"></i>
                Account 
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-user"></i> Profile</a>
                <a class="dropdown-item" *ngIf="isUser()" [routerLink]="['/transactions']"><i class="fa fa-credit-card"></i> My Orders</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li ngbDropdown class="nav-item dropdown" routerLinkActive="active current">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user-circle mr-2 tm-logout-icon"></i>
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"  *ngIf="!account?.id" [routerLink]="['/login']" ><i class="far fa-user mr-2 tm-logout-icon"></i>
                  <span>Login</span></a>
                <a class="dropdown-item" [routerLink]="['/register']"  *ngIf="!account?.id"><i class="far fa-user mr-2 tm-logout-icon"></i>
                  <span>Register</span></a>
                  <a class="dropdown-item"  *ngIf="account?.id" [routerLink]="['/profile']" ><i class="fa fa-user"></i> {{account.lastName}} </a>
                  <a class="dropdown-item" *ngIf="account?.id"  (click)="logOut()"><i class="fa fa-power-off mr-2 tm-logout-icon"></i>
                    <span>Logout</span></a>
              </div>
            </li>
            
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>
  <!-- Subscribe Form Starts Here -->
<div class="subscribe-form">

  <div class="row">
      <div class="col-md-12">
          <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Subscribe now!</h1>
              <hr class="hr-line-dec">
          </div>
      </div>
      <div class="col-md-8 offset-md-2">
          <div class="main-content">
              <p>Get Updates on our products, discounts and much more.</p>
              <div class="container">
                  <form id="subscribe" action="" method="get">
                      <div class="row">
                          <div class="col-md-7">
                              <fieldset>
                                  <input name="email" type="text" class="form-control" id="email"
                                     placeholder="Your Email..."
                                      required="" pattern="^[a-zA-Z]+([.-]?[a-zA-Z0-9]+)*@([a-zA-Z]+([.-]?[a-zA-Z]))[.]{1}[a-zA-Z]{2,}$">
                              </fieldset>
                          </div>
                          <div class="col-md-5">
                              <fieldset>
                                  <button type="submit" id="form-submit" class="button">Subscribe Now!</button>
                              </fieldset>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Subscribe Form Ends Here -->
<!-- Footer Starts Here -->
<div class="footer">

  <div class="row">
      <div class="col-md-12">
          <div class="logo">
              <img src="assets/img/tshepo-siya.png" alt="">
          </div>
      </div>
      <div class="col-md-12">
          <div class="footer-menu">
              <ul>
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li><a [routerLink]="['/faq']">Help</a></li>
                  <li><a [routerLink]="['/faq']">Privacy Policy</a></li>
                  <li><a [routerLink]="['/about']">About Us</a></li>
                  <li><a [routerLink]="['/about']">Contact Us</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-12">
          <div class="social-icons">
              <ul>
                  <li><a><i class="fa fa-facebook"></i></a></li>
                  <li><a><i class="fa fa-twitter"></i></a></li>
                  <li><a><i class="fa fa-linkedin"></i></a></li>
                  <li><a><i class="fa fa-rss"></i></a></li>
              </ul>
          </div>
      </div>
  </div>

</div>
<!-- Footer Ends Here -->


<!-- Sub Footer Starts Here -->
<div class="sub-footer">
  <div class="row">
      <div class="col-md-12">
          <div class="copyright-text">
              <p>Copyright &copy; 2022, Powered by TS Systems.</p>
          </div>
      </div>
  </div>
</div>
<!-- Sub Footer Ends Here -->
</div>