<!--Faq-->
<div class="faq">
    <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
                <h1>Faqs</h1>
                <div class="line-dec"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="section-content">                
                <h5>When will my order be confirmed?</h5>
            <p>You will  receive an email confirmation that your order has been received within an hour. If you do not  receive an email confirmation, please check to see if the email address on your  order was placed correctly.</p>
            <hr />
            <h5>When will my order be shipped?</h5>
            <p>It will take 2 days for shipping.</p>
            <hr />
            <h5>What payment methods do you accept?</h5>
            <p>We dont accept online payments currently until further notice.</p>
            <hr />
            <h5>Can I return or exchange my purchase if I do not like it?</h5>
            <p>Please contact 0847607545 for product return or exchange policies.</p>
            <hr />
            <h5>What is your privacy policy?</h5>
            <p>This site respects your privacy and wants to ensure that  you understand what information we need to complete your order, and what  information you can choose to share with us.  For complete information on our privacy policy, please visit our <a href="#">Privacy Policy</a>  page.</p>
            <p>&nbsp;</p>
            <h5>Thank you for shopping with us!</h5>               
            </div>
        </div>

    </div>
</div>