<!-- row -->
<div class="row">
    <div class="bg_load" *ngIf="loading">
        <img class="loader_animation" src="assets/img/loader.gif" alt="">
    </div>
</div>
<div class="row content-row mt-big" *ngIf="!loading">
    <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="block-title d-inline-block"><i class="fa fa-pencil"></i> Change Password</h2>
                </div> 
                <div class="col-md-12 col-sm-12" >
                    <p class="alert alert-danger" *ngIf="failed">Oops! Something went wrong, try again <i class="fa fa-times"></i></p>
                </div>           
            </div>
            <hr>
            <form #f="ngForm" (ngSubmit)="updatePassword()"  class="form-signin">
  
                <div class="form-label-group">
                    <input name="password" #password="ngModel" [(ngModel)]="passwordResetRequest.password" type="password" id="inputPassword" class="form-control" placeholder="Current Password" required autofocus>
                    <label for="inputPassword">Current Password</label>
                    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                        Password Required.
                    </div>
                </div>

                <div class="form-label-group">
                    <input name="newPassword" #newPassword="ngModel" [(ngModel)]="passwordResetRequest.newPassword"  type="password" id="inputNewPassword" class="form-control" placeholder="New Password" 
                    minlength="8"
                    required autofocus>
                    <label for="inputNewPassword">New Password</label>
                    <div class="alert alert-danger" *ngIf="newPassword.touched && !newPassword.valid">
                        Password Required, Should be atleast 8 characters.
                    </div>
                </div>
  
                <button class="btn btn-primary" type="submit">Update</button>
  
            </form>
  
        </div>
    </div>
</div>
