<div class="row">
    <div class="col-md-12">

        <div class="content">
            <div class="cards">          
                <div class="card">
                    <div class="box">
                        <h1>2000</h1>
                        <h3>Products</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>2000</h1>
                        <h3>Products</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                
                <div class="card">
                    <div class="box">
                        <h1>2000</h1>
                        <h3>Products</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>2000</h1>
                        <h3>Products</h3>
                    </div>
                    <div class="icon-case">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
            </div>

            <div class="content-2">
                <div class="recent-orders">
                    <div class="title">
                        <h2>Recent Orders</h2> 
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Order No.</th>
                            <th>Order Date</th>
                            <th>Qty</th>
                            <th>Amount</th>
                        </tr>
                    </table>
                </div>
                <div class="new-products">
                    <div class="title">
                        <h2>New Products</h2> 
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Product Name</th>
                            <th>Qty</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

